$button-height-mobile: 36px;
$button-height-tablet: 38px;

$button-width-padding: 16px;
$button-border-radius: 20px;

$text-chevy-spacing: 4px;

$ButtonColor: #fcd535;
$BackgroundColor: #133b57;
$GlobalTextColor: #ffffffc2;
$GlobalTextGrey: #9eaec5;
$GlobalTextDarkBlue: #0f334d;
$RedColor: #e03a50;
$blueColor: #e86b4b;
$GreenColor: #0ea1a4;
