body.light-theme {
	background-color: white;
	color: black;
	transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
	// background-color: rgb(26, 24, 31);
	// background-image: linear-gradient(
	// 	to right top,
	// 	#b6398c,
	// 	#9e378f,
	// 	#853690,
	// 	#69368f,
	// 	#4a358c,
	// 	#3a4296,
	// 	#264e9d,
	// 	#0058a2,
	// 	#0073b2,
	// 	#008bb3,
	// 	#00a0a7,
	// 	#04b396
	// );
	// background-color: rgb(30, 33, 41);
	background-color: hsl(210deg 15% 6%);
	// color: rgb(206, 206, 206);
	color: rgba(226, 228, 233, 0.82);
	transition: background-color 0.3s, color 0.3s;
}

.theme-gif img {
	width: 50px;
	height: 50px;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.625rem;
	box-sizing: border-box;

	&__right {
		display: flex;
		align-items: center;
	}

	&__left {
		display: flex;
		align-items: center;
	}
}
