.footer {
	padding-top: 3.125rem;
	&__wrapper {
		display: flex;
		gap: 1.25rem;
		padding: 3rem;
		justify-content: flex-end;
	}
	&__items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
}
