.aboutMe {
	&__wrapper {
		display: flex;
		flex-direction: column;
	}
	&__header {
		padding: 0;
		margin: 0%;
	}
	&__hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-image {
			border-radius: 50%;
		}
		&-paragraph {
			width: 800px;
		}
	}
}
